
.home-extras {
    position: relative;
    padding: 0 10px;
    // top: 300px;
    z-index: $z-index-slider-pager;
    width: 100%;

    .button {
        // background-color: transparent;
        // border-color: #444;
        // width: calc(50% - 5px);
        // display: inline-block;
        // vertical-align: bottom;

        // &.button-skip {
        //     margin-left: 5px;
        // }
    }
}