<ion-view title="UpCourage">
    <!-- <ion-content class="padding">
        <h1>Create container!!</h1>
    </ion-content> -->
    <ion-tabs class="tabs-icon-top">
        <ion-tab title="Global" icon="icon ion-home" href="#/global">
            <ion-nav-view name="global"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Friends" icon="icon ion-home" href="#/friends">
            <ion-nav-view name="friends"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Create" icon="icon ion-heart" href="#/create/customize">
            <ion-nav-view name="create-customize"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Receive" icon="icon ion-gear-b" href="#/receive/schedule">
            <ion-nav-view name="receive-schedule"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Mood" icon="icon ion-gear-b" href="#/mood">
            <ion-nav-view name="mood"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
