<ion-view title="UpCourage">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-image">
                <img src="img/demo/1.jpg">
            </div>
        </div>
        <hr>
        <div class="home-extras">
            <button class="button button-block button-positive" ui-sref="main.global">Get Encouraged</button>
            <button class="button button-block button-stable" ui-sref="login">Login</button>
        </div>
    </ion-content>
</ion-view>