<ion-view title="UpCourage">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password">
            </label>
        </div>
        <button class="button button-block button-positive" ui-sref="main.global">Login</button>
        <button class="button button-block button-stable" ui-sref="main.global">Sign Up</button>
    </ion-content>
</ion-view>