<ion-view title="UpCourage">
    <ion-content class="padding">
        <form autocomplete="off">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email">
                </label>
            </div>
            <button class="button button-block button-positive" ui-sref="main.global">Start Account</button>
        </form>
        <button class="button button-block button-positive" ui-sref="main.global">Facebook</button>
        <button class="button button-block button-positive" ui-sref="main.global">Twitter</button>
    </ion-content>
</ion-view>