.mood-manager {
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 0 35px -5px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 9999;
    bottom: 60px;
    right: 0;
    width: calc(100% - 20px);
    margin: 0 10px;
    box-sizing: border-box;
    padding: 0px;

    &:before {
        position: absolute;
        content: "";
        bottom: -10px;
        right: 12px;
        border-top: 10px solid #FFF;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
    }

    .my-mood {
        background: #f2f2f2;
        border-radius: 3px 3px 0 0;
        padding: 10px;

        .current-mood {
            display: inline-block;
            border: 2px solid #ABABAB;
            border-radius: 50%;
            width: 90px;
            height: 90px;
            margin-right: 10px;
        }

        .mood-specs {
            display: inline-block;
            vertical-align: top;
            max-width: 60%;

            h6 {
                margin: 5px 0 0;
            }
            h3 {
                margin: 1px 0 0;
            }
            p {
                font-style: italic;
                font-size: 12px;
                line-height: 14px;
                margin: 5px 0 0;
            }
        }
    }

    ul {
        padding: 10px 12px;

        .mood {
            border: 1px solid #ABABAB;
            border-radius: 50%;
            display: inline-block;
            margin: 0 5px 25px 0;
            width: 50px;
            height: 50px;
            line-height: 121px;
            text-align: center;
            font-size: 8px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}

.mood-color {

    &.ms-happy {
        // #0D58FF
    }
    &.ms-excited {
        // #E84721
    }
    &.ms-calm {
        // #0BF5FF
    }
    &.ms-imaginative {
        // #FFF73B
    }
    &.ms-normal {
        // #56E85A
    }
    &.ms-stressed {
        // #282828
    }
    &.ms-unsettled {
        // #E8B426
    }
    &.ms-nervous {
        // #444444
    }
    &.ms-fearful {
        // #FF40A2
    }
    &.ms-restless {
        // #5E3615
    }

    &.md-happy {
        background-color:#269;
        background-image: linear-gradient(white 2px, transparent 2px),
            linear-gradient(90deg, white 2px, transparent 2px),
            linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
            linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
        background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
        background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
    }
    &.md-excited {
        background-color: hsl(2, 57%, 40%);
        background-image: 
            repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
            repeating-linear-gradient(270deg, transparent, transparent 25px, rgba(0,0,0,.4) 25px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
            repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
    }
    &.md-calm {
        background: 
            radial-gradient(circle, transparent 20%, #0BF5FF 20%, #0BF5FF 80%, transparent 80%, transparent),
            radial-gradient(circle, transparent 20%, #0BF5FF 20%, #0BF5FF 80%, transparent 80%, transparent) 25px 25px,
            linear-gradient(rgba(255, 255, 255, 0.7) 4px, transparent 4px) 0 -2px,
            linear-gradient(90deg, rgba(255, 255, 255, 0.7) 4px, transparent 4px) -2px 0;
        background-color: #0BF5FF;
        background-size:50px 50px, 50px 50px, 25px 25px, 25px 25px;
    }
    &.md-imaginative {
        background: 
            linear-gradient(135deg, #E8D54B 25%, transparent 25%) -25px 0, 
            linear-gradient(225deg, #E8D54B 25%, transparent 25%) -25px 0, 
            linear-gradient(315deg, #E8D54B 25%, transparent 25%), 
            linear-gradient(45deg, #E8D54B 25%, transparent 25%);   
        background-size: 50px 50px;
        background-color: #FFF73B;
    }
    &.md-normal {
        // #lol
        background: #56E85A;
    }
    &.md-stressed {
        background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
        background-color:#282828;
        background-size:16px 16px;
    }
    &.md-unsettled {
        background: 
            radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
            radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -25px;
        background-color: #E8B426;
        background-size:37px 50px;
    }
    &.md-nervous {
        background: 
            linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, 
            linear-gradient(63deg, transparent 74%, #999 78%), 
            linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), #444;
        background-size: 16px 48px;
    }
    &.md-fearful {
        background-color: #FF40A2;
        background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255, 255, 255, 0.5) 15px, rgba(255, 255, 255, 0.5) 30px);
    }
    &.md-restless {
        background-color: #5E3615;
        background-image:
            repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 30px),
            repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 30px),
            linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
            linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
        background-size: 35px 60px;
    }
}